// font family

$main-font-stack: "Roboto", sans-serif;

// font size
$main-font-size: 14px;

// font color
$main-font-color: #fff;

//  background color
$main-background: rgba(
  $color: #1b2433,
  $alpha: 1
);
$overlay-background: rgba(0, 0, 0, 0.6);
$input-border-color: #f5f5f5;
